header {
  position: relative;
  overflow: hidden;
}
.bg-el {
  position: absolute;
  top: 0%; left: 0%;
  width: 100%; height: 100%;
  background-position: center;
  background-size: cover;
}

.hdr-inner-contents {
  padding: 0.5em 0em 4em 0em;
  text-align: center;
  color: white;
  position: relative;
  z-index: 99999;
}
.logo-icon {
  max-width: 280px;
  margin: auto;
  img {
    width: 100%;
  }
}
.hero-title {
  font-size: 60%;
}
.cta-parent {
  display: block;
  padding-top: 0.4em;
  // padding-top: 2em;
}

.share-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
  color: $blue;
}
.share-element span {
  margin-right: 1em;
  font-weight: bolder;
}
.share-element-ul {
  list-style-type: none;
  margin: 0 0 0 0em; padding: 0;
  display: flex;

  li {
    font-size: 1.2em;
   &:first-of-type {
     margin-right: 1em;
   }
   a {
     color: $blue;
     transition: color 400ms ease;
     &:hover {
       color: $orange;
     }
   }
  }
  
}
.countdown-el {
  text-align: center;
  justify-content: center;
}

.countdown {
  justify-content: center;
  text-align: center;
}
.countdown-bar  {
  // background: $blue;
  padding: 1em 0em;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 72%;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%; left: 0;
  z-index: 999999999;
  // display: none;
  p {
    margin: 0;
  }
  
}

.countdown{
  display: flex;
  justify-content: center;
  .time-el {
    text-align: center;
    padding-right: 1em;
    color: white;
  }
}

.time {
  font-size: 1em;
  letter-spacing: 2px;
}
.type {
  display: block;
  line-height: 0.5;
  padding-bottom: 0.5em;
  font-size: 0.6em;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.countdown-name {
  font-weight: bolder;
  color: white;
  padding-right: 1em;
}
.dk-cd {
  display: none;
}

.banner {
  position: relative;
  width: 90%;
  margin: auto;
  margin-top: -70px;
  max-width: 1000px;
}
.banner-parent {
  position: relative;
  background: white;
  width: 100%;
  margin: auto;
  max-width: 1000px;
}
.banner-parent-img {
  background: #ddd;
  @include padding-bottom(1,1,'img')
}


.the-featured-list {
  max-width: 280px;
  margin: 0 auto;
  img {
    width: 100%;
  }
}
@media(min-width:$bp-md) {
  .hero-title {
    font-size: 85%;
  }
  .share-parent {
    display: none;
  }
  .countdown-bar {
    background: $blue;
    bottom: auto;
    top: 0; 
    font-size: 100%;
    position: relative;
    display: flex;
  }
  .dk-mb  {
    display: none;
  }
  .dk-cd {
    display: inline-block;
  }
  .countdown{
    display: flex;
    justify-content: center;
    .time-el {
      text-align: center;
      margin: 0em 1em;
      color: white;
    }
  }
  .time-el {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      height: 60%;
      top: 20%;
      background: lighten($blue, 40%);
      width: 1px;
      right: -20%;
      transform: translateX(-50%);
    }
    &:last-of-type {
      &:after {
        content: '';
        display: none;
      }
    }
  }
  .cta-parent {
    display: flex;
    padding-top: 2em;
    justify-content: center;
    align-items: center;
    .cta:first-of-type {
      margin-right: 1.2em;
      margin-bottom: 0em;
    }
  }
  .hdr-inner-contents {
    padding: 5em 0em 4em 0em;
  }
  .logo-icon {
    max-width: 320px;
    margin: auto;
    img {
      width: 100%;
    }
  }

}

@media(min-width: $bp-lg) {
  .hero-title {
    font-size: 95%;
  }
}