  .two-col-w-image_copy {

    margin: auto;
  }
  .section-pd {
    padding: 2em 0em;
  }
  .two-col_item {
    width: 100%;
    &:first-of-type {
      margin-bottom: 2em;
    }
  }
  .align-right {
    text-align: center;
  }
  .tall-stack {
    background: #ddd;
    @include padding-bottom(770, 615, 'img')
  }
  .sec-content {
    text-align: center;
    width: 95%;
    max-width: 1200px;
    margin: auto;
  }
  .short-stack-parent {
    margin-bottom: 1.5em;
    &:last-of-type {
      margin-bottom: 0em;
    }
  }
  .short-stack {
    background: #ddd;
    @include padding-bottom(580, 875,'img')
  }

  .content-stack {
    // padding-bottom: 2em;
  }
  .hover-effect {
    overflow: hidden;
    img {
      transition: all 200ms ease;
    }
  }

  figure {
    .lazy-image {
      opacity: 0;
      transition: opacity 600ms ease;
    }
    &.is-loaded {
      .lazy-image {
        opacity: 1;
      }
    }
  }

  @media(min-width: $bp-sm) {
    .two-col-w-image_copy {
      max-width: 100%;
      width: 100%;
      display: flex;
      margin: 0;
      padding: 2em 0em;
    }
   .two-col_item {
      width: 47.7%;
      &:first-of-type {
        margin-bottom: 0em;
        width: 52.3%;
        margin-right: 2em;
      }
    }
    .align-right {
      text-align: right;
    }
  }

  @media(min-width: $bp-lg) {
    .two-col-w-image_copy {
      // padding: 3.5em 0em 5em 0em;
    }
    .section-pd {
      padding: 3.5em 0em 5em 0em;
    }
    .two-col_item {
      width: 47.7%;
      &:first-of-type {
        margin-bottom: 0em;
        width: 52.3%;
        margin-right: 2em;
      }
    }
  }