.sharing-icons {
	display: none;
}


@media(min-width: $bp-md) {
	.sharing-icons {
		position: fixed;
		display: block;
		top: 50%; right: 0;
		transform: translateY(-50%);
		z-index: 999999;
		background: $blue;
		.share-element {
			display: block;
			text-align: center;
		}
		li {
			display: block;
			padding: 0.5em 1em;
			margin: 0;
			&:first-of-type {
				margin-right: 0em;
			}
		}
		.share-element-ul {
			a {
				color: $white;
			}
		}
	}
	.share-event {
		display: inline-block;
		position: absolute;
		top: 50%; left: -2.3em;
		font-family: 'bajaHeader', sans-serif;
		transform: translateY(-50%) rotate(-90deg);
		text-shadow: 0px 0px 10px white;
	}
}