.venue-parent {
  padding: 1em 0em 2em 0em; 
  &.is-paddingless {
    padding: 1em 0em 0em 0em;
  }
}
.hdr-small {
  font-size: 80%;
}

.lg-img {
  background: #eee;
  @include padding-bottom( 690 , 1080 ,'img')
}
.venue-item {
  margin-bottom: 2em;
  position: relative;
  z-index: 7;
  &:last-of-type {
    margin-bottom: 0em;
  }
}
.venue-sign {
  position: absolute;
  top: -50px;
  padding-left: 1em;
  font-size: 1.45em;
}
.hide-mobile-sign {
  display: none;
}


@media(min-width: $bp-md) {
  .venue-parent {
    padding: 6em 0em 2em 0em;
    display: flex;
    align-items: center;
    &.is-paddingless {
      padding: 5em 0em 4em 0em;
    }
  }
  .hide-dk-sign {
    display: none;
  }
  .hide-mobile-sign {
    display: block;
  }
  .hdr-small {
    font-size: 85%;
  }
  .venue-item {
    margin-bottom: 0em;

    &.has-content-el {
      width: 30%;
    }
    &.has-img-el {
      width: 66%;
    }
    &.push-right {
      margin-right: 4%;
    }
  }
  .venue-sign {
    font-size: 1.6em;
    top: -75px;
  }
}

@media(min-width: $bp-lg) {
  .hdr-small {
    font-size: 90%;
  }
}