@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700|Rubik+Mono+One&subset=latin-ext');

body {
  font-size: 15px;
  line-height: 1.6;
}


h1 {
  font-size: 2.353em;
}
h2 {
  font-size: 1.765em;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
  margin: 0;
}

@media(min-width: $bp-md) {
  body {
    font-size: 16px;
  }
}


@media(min-width: $bp-lg) {
  body {
    font-size: 17px;
  }
}

@media(min-width: $bp-xl) {
  body {
    font-size: 18px;
  }
}




