// colors
$primaryColor: #E72F1E;
$secondaryColor: #DB8408;
$accentColor: #000000;

$orange: #E0861A;


// typography
$lettingSpace: 0px;
$lineHeight: 1.6;
$hdrLineHeight: 1.2;


// site container
$maxWidth: 1440px;
$medWidth: 1200px;


